<h3>系统管理员个人信息</h3>
<div class="main-cont">
  <div class="form-group form-inline">
    <label for="id">编号</label>
    <input type="text" class="form-control" [(ngModel)]="sysManager.id" id="id" placeholder="编号" readonly="true">
  </div>
  <div class="form-group form-inline">
    <label for="phone">手机</label>
    <input type="text" class="form-control" [(ngModel)]="sysManager.phone" id="phone" placeholder="手机">
  </div>
  <div class="form-group form-inline">
    <label for="account">账号</label>
    <input type="text" class="form-control" [(ngModel)]="sysManager.account" id="account" placeholder="账号">
  </div>
  <div class="form-group form-inline">
    <label for="passwd">密码</label>
    <input type="text" class="form-control" [(ngModel)]="sysManager.passwd" id="passwd" placeholder="密码">
  </div>
  <div class="form-group form-inline">
    <label for="sName">姓名</label>
    <input type="text" class="form-control" [(ngModel)]="sysManager.sName" id="sName" placeholder="姓名">
  </div>
  <div class="form-group form-inline">
    <label for="gender">性别</label>
    <select class="form-control" [(ngModel)]="sysManager.gender" id="gender">
      <option *ngFor="let gender of genders" value="{{gender.value}}">
          {{gender.label}}
      </option>
  </select>
  </div>
  <div class="main-btn">
    <button type="button" class="btn btn-success" (click)="submitData(sysManager);">提交</button>
  </div>
</div>
