<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renyajie.yuyue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity android:name="main.activity.recommand_class.RecommandClassActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name="main.activity.people_class_order.PeopleClassOrderActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name="main.activity.individual_class_order.IndividualClassOrderActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name="main.activity.people_order_confirm.PeopleOrderConfirmActivity"
            android:parentActivityName="main.activity.people_class_order.PeopleClassOrderActivity"/>
        <activity
            android:name="main.activity.individual_order_confirm.IndividualOrderConfirmActivity"
            android:parentActivityName="main.activity.individual_class_order.IndividualClassOrderActivity"/>
        <activity
            android:name="main.activity.order_success.OrderSuccessActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name="main.activity.experience_class_order.ExperienceClassOrderActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="news.NewsDetailActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="mine.activity.order_class.OrderClassListActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name="mine.activity.order_class.OrderDetailActivity"
            android:parentActivityName="mine.activity.order_class.OrderClassListActivity"/>

        <activity android:name="mine.activity.order_card.OrderCardListActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name="mine.activity.order_card.OrderCardDetailActivity"
            android:parentActivityName="mine.activity.order_card.OrderCardListActivity"/>

        <activity android:name="mine.activity.order_card.PlaceCardListActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name="mine.activity.order_card.PlaceCardDetailActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name="mine.activity.order_card.BuyCardActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>