
    <div class="jumbotron">
      <h1>欢迎使用瑜伽馆预约后台管理系统</h1>
      <p>系统为您提供了诸多功能</p>
        <ul>
          <li>用户板块，您可以查看或者编辑用户个人信息</li>
          <li>订单管理板块，您可以看到用户的约课订单和购卡订单，并进行多条件选择查看</li>
          <li>会员卡板块，您可以查看本场馆的会员卡，新增删除会员卡种类，还能查看用户的会员卡信息</li>
          <li>课程管理板块，你可以添加，删除，查看或新增课程种类，并且基于此进行相应的课程安排</li>
          <li>用户评论板块，您可以查案用户对某门课程的评论</li>
          <li>课程标签板块，您可以查看课程的标签信息，并进行修改，用于对新用户的课程推荐</li>
          <li>通知管理板块，您可以查看或发布瑜伽馆的通知公告</li>
          <li>数据分析板块，您可以查看每日用户量，每小时用户量，课程用户量，并可根据此及时调整课程安排</li>
          <li>个人板块，您可以查看或更新个人信息，瑜伽馆信息，以及上传瑜伽馆LOGO</li>
        </ul>
    </div>