<h3 class="go-center">每日用户量统计</h3>
<div class="row go-center main_btn">
        <button type="button" class="btn btn-info btn-sm" (click)="showColumnGraph();">显示柱状图</button>
        <button type="button" class="btn btn-info btn-sm margin" (click)="showPieGraph();">显示饼图</button>
        <button type="button" class="btn btn-info btn-sm" (click)="getData(3);">最近三天</button>
        <button type="button" class="btn btn-info btn-sm" (click)="getData(7);">最近一周</button>
        <button type="button" class="btn btn-info btn-sm" (click)="getData(30);">最近一个月</button>
</div>

<div *ngIf="show == true">
    <fusioncharts class = "go-center" *ngIf="showColumn == true"
        width="1000"
        height="400" 
        type="column2d"
        dataFormat="json" 
        [dataSource]=dataSourceForColumn>
    </fusioncharts>

    <fusioncharts class = "go-center" *ngIf="showColumn == false"
        width="600" 
        height="400"
        type="pie3d"
        [dataSource]=dataSourceForPie>
    </fusioncharts>
</div>