<div class="header">
  <app-main-header></app-main-header>
</div>
<div class="row main">
  <div class="col-md-2 menu">
    <div>
      <!-- 若用户登录身份为管理员，显示管理员的菜单项 -->
      <ul *ngIf="isSysManager === false">
        <li>
          用户管理
          <dl>
            <dd>
              <a routerLink="./user" routerLinkActive="active">查看用户</a>
            </dd>
          </dl>
        </li>
        <li>
          订单管理
          <dl>
            <dd>
              <a routerLink="./order" routerLinkActive="active">约课订单</a>
            </dd>
            <dd>
              <a routerLink="./order/card" routerLinkActive="active">购卡订单</a>
            </dd>
          </dl>
        </li>
        <li>
          会员卡管理
          <dl>
            <dd>
              <a routerLink="./card" routerLinkActive="active">查看会员卡种类</a>
            </dd>
            <dd>
              <a routerLink="./card/insert" routerLinkActive="active">添加会员卡种类</a>
            </dd>
            <dd>
              <a routerLink="./card/info" routerLinkActive="active">查看会员卡信息</a>
            </dd>
          </dl>
        </li>
        <li>
          课程管理
          <dl>
            <dd>
              <a routerLink="./class/kind" routerLinkActive="active">查看课程种类</a>
            </dd>
            <dd>
              <a routerLink="./class/kind-insert" routerLinkActive="active">添加课程种类</a>
            </dd>
            <dd>
              <a routerLink="./class/info" routerLinkActive="active">查看课程信息</a>
            </dd>
            <dd>
              <a routerLink="./class/info-insert" routerLinkActive="active">添加课程信息</a>
            </dd>
          </dl>
        </li>
        <li>通知管理
          <dl>
            <dd>
              <a routerLink="./news" routerLinkActive="active">查看通知</a>
            </dd>
            <dd>
              <a routerLink="./news/insert" routerLinkActive="active">添加通知</a>
            </dd>
          </dl>
        </li>
        <li>
          数据分析
          <dl>
            <dd>
              <a routerLink="./analyse" routerLinkActive="active">上课时间统计</a>
            </dd>
            <dd>
              <a routerLink="./analyse/order-number" routerLinkActive="active">用户预约数量统计</a>
            </dd>
            <dd>
              <a routerLink="./analyse/class-number" routerLinkActive="active">课程预约数量统计</a>
            </dd>
          </dl>
        </li>
        <li>
          个人中心
          <dl>
            <dd>
              <a routerLink="./mine/manager" routerLinkActive="active">个人信息</a>
            </dd>
            <dd>
              <a routerLink="./mine/place" routerLinkActive="active">场馆信息</a>
            </dd>
          </dl>
        </li>
      </ul>
      <!-- 若用户登录身份为系统管理员，显示系统管理员的菜单项 -->
      <ul *ngIf="isSysManager === true">
        <li>
          瑜伽场馆
          <dl>
            <dd>
              <a routerLink="./place" routerLinkActive="active">查看瑜伽馆</a>
            </dd>
            <dd>
              <a routerLink="./place/insert" routerLinkActive="active">新增瑜伽馆</a>
            </dd>
          </dl>
        </li>
        <li>
          场馆管理员
          <dl>
            <dd>
              <a routerLink="./manager" routerLinkActive="active">查看人员列表</a>
            </dd>
          </dl>
        </li>
        <li>
          个人中心
          <dl>
            <dd>
              <a routerLink="./mine/sys-manager" routerLinkActive="active">个人信息</a>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-0 content">
    <router-outlet></router-outlet>
  </div>
</div>
