<h3>会员卡信息</h3>
<div class="main-cont" *ngIf="cardKind$ | async as cardKind">
  <div class="form-group">
    <label for="id">编号</label>
    <input type="text" [(ngModel)]="cardKind.id" id="id" placeholder="编号" readonly="true">
  </div>
  <div class="form-group">
    <label for="pId">瑜伽馆编号</label>
    <input type="text" [(ngModel)]="cardKind.pId" id="pId" placeholder="瑜伽馆编号" readonly="true">
  </div>
  <div class="form-group">
    <label for="pName">瑜伽馆名称</label>
    <input type="text" [(ngModel)]="cardKind.pName" id="pName" placeholder="瑜伽馆名称" readonly="true">
  </div>
  <div class="form-group">
    <label for="cardKName">会员卡名称</label>
    <input type="text" [(ngModel)]="cardKind.cardKName" id="cardKName" placeholder="会员卡名称">
  </div>
  <div class="form-group">
    <label for="capacity">会员卡容量</label>
    <input type="text" [(ngModel)]="cardKind.capacity" id="capacity" placeholder="会员卡容量">
  </div>
  <div class="form-group">
    <label for="expend">会员卡价格</label>
    <input type="text" [(ngModel)]="cardKind.expend" id="expend" placeholder="会员卡价格">
  </div>
  <div class="main-btn">
    <button type="button" class="btn btn-info btn-sm" (click)="goBack();">返回</button>
    <button type="button" class="btn btn-info btn-sm" (click)="submitData(cardKind);">提交</button>
  </div>
</div>
