<div class="row go-center form-inline">
  <span class="search-input">
    <label>会员卡编号：</label>
    <input class="form-control" [(ngModel)]="cardKId">
  </span>
  <span class="search-input">
    <label>会员卡名称：</label>
    <input class="form-control" [(ngModel)]="cardKName">
  </span>
  <span class="search-input">
    <label>会员卡容量：</label>
    <input class="form-control" [(ngModel)]="capacity">
  </span>
  <span class="search-input">
    <label>价格：</label>
    <input class="form-control" [(ngModel)]="expend">
  </span>
  <div class="search-button">
    <button type="button" class="btn btn-danger" (click)="clear();getCardKind();">清空</button>
    <button type="button" class="btn btn-success" (click)="getCardKind(1, cardKId, cardKName, capacity, expend);">搜索</button>
  </div>
</div>

<div class="main-table">  
    <table class="table table-bordered table-hover">
        <tr>
            <td class="idColumn">编号</td>
            <td class="nameColumn">会员卡名称</td>
            <td class="numberColumn">容量(次)</td>
            <td class="numberColumn">价格</td>
            <td>操作</td> 
        </tr>
        <tr *ngFor="let cardKind of cardKinds$ | async">
            <td class="idColumn">{{cardKind.id}}</td>
            <td class="nameColumn">{{cardKind.cardKName}}</td>
            <td class="numberColumn">{{cardKind.capacity}}</td>
            <td class="numberColumn">{{cardKind.expend}}</td>
            <td>
              <a [routerLink]="['./', cardKind.id]" class="btn btn-info btn-sm">编辑</a>
              <button class="btn btn-info btn-sm" (click)="deleteCardKind(cardKind.id);">删除</button>
            </td>
        </tr>
    </table>
</div> 

<div class="row foot-content">
  <div class="col-md-6 col-md-offset-3">
    <div class="main-page">
      <nav aria-label="Page navigation">
        <ul class="pagination" *ngIf="pageInfo$ | async as pageInfo">
          <!-- 如果存在上一页 -->
          <li *ngIf="pageInfo.hasPreviousPage" (click)="getCardKind(1, cardKId, cardKName, capacity, expend);">
            <a>
              首页
            </a>
          </li>
          <li *ngIf="pageInfo.hasPreviousPage" (click)="getCardKind(pageInfo.pageNum - 1, cardKId, cardKName, capacity, expend);">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <!-- 如果不存在上一页 -->
          <li *ngIf="!pageInfo.hasPreviousPage" class="disabled">
            <a>
              首页
            </a>
          </li>
          <li *ngIf="!pageInfo.hasPreviousPage" class="disabled">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <!-- 定义中间页 -->
          <li *ngFor="let item of pageInfo.navigatepageNums" [class.active]="pageInfo.pageNum === item" (click)="getCardKind(item, cardKId, cardKName, capacity, expend);">
            <a>{{item}}</a>
          </li>
          <!-- 如果存在下一页 -->
          <li *ngIf="pageInfo.hasNextPage" (click)="getCardKind(pageInfo.pageNum + 1, cardKId, cardKName, capacity, expend);">
            <a aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li *ngIf="pageInfo.hasNextPage" (click)="getCardKind(pageInfo.pages, cardKId, cardKName, capacity, expend);">
            <a>
              末页
            </a>
          </li>
          <!-- 如果不存在下一页 -->
          <li *ngIf="!pageInfo.hasNextPage" class="disabled">
            <a aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li *ngIf="!pageInfo.hasNextPage" class="disabled">
            <a>
              末页
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>