<div class="row go-center">
  <div class="col-md-3">
    课程种类编号：
    <input [(ngModel)]="classKId">
  </div>
  <div class="col-md-3">
    课程名称：
    <input [(ngModel)]="classKName">
  </div>
  <div class="col-md-2">
    课程属性:
    <select [(ngModel)]="property" id="property">
        <option *ngFor="let classProperty of classPropertys" value="{{classProperty.value}}">
            {{classProperty.name}}
        </option>
    </select>
  </div>
  <div class="col-md-2">
    难度：
    <input [(ngModel)]="difficulty">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-info btn-sm" (click)="clear();getClassKind();">清空</button>
    <button type="button" class="btn btn-info btn-sm" (click)="getClassKind(1, classKId, classKName, property, difficulty);">搜索</button>
  </div>
</div>

<div class="main-table">  
    <table class="table table-bordered table-hover">
        <tr>
            <td class="idColumn">课程编号</td>
            <td class="nameColumn">课程名称</td>
            <td class="nameColumn">属性</td>
            <td class="numberColumn">难度</td>
            <td>操作</td> 
        </tr>
        <tr *ngFor="let classKind of classKinds$ | async">
            <td class="idColumn">{{classKind.id}}</td>
            <td class="nameColumn">{{classKind.claKName}}</td>
            <td class="nameColumn">{{classKind.property == 's' ? '私教' : '团课' }}</td>
            <td class="numberColumn">{{classKind.difficulty}}</td>
            <td>
              <a [routerLink]="['./', classKind.id]" class="btn btn-info btn-sm">编辑</a>
              <button class="btn btn-info btn-sm" (click)="deleteClassKind(classKind.id);">删除</button>
            </td>
        </tr>
    </table>
</div> 

<div class="row foot-content">
  <div class="col-md-6 col-md-offset-3">
    <div class="main-page">
      <nav aria-label="Page navigation">
        <ul class="pagination" *ngIf="pageInfo$ | async as pageInfo">
          <!-- 如果存在上一页 -->
          <li *ngIf="pageInfo.hasPreviousPage" (click)="getClassKind(1, classKId, classKName, property, difficulty);">
            <a>
              首页
            </a>
          </li>
          <li *ngIf="pageInfo.hasPreviousPage" (click)="getClassKind(pageInfo.pageNum - 1, classKId, classKName, property, difficulty);">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <!-- 如果不存在上一页 -->
          <li *ngIf="!pageInfo.hasPreviousPage" class="disabled">
            <a>
              首页
            </a>
          </li>
          <li *ngIf="!pageInfo.hasPreviousPage" class="disabled">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <!-- 定义中间页 -->
          <li *ngFor="let item of pageInfo.navigatepageNums" [class.active]="pageInfo.pageNum === item" (click)="getClassKind(item, classKId, classKName, property, difficulty);">
            <a>{{item}}</a>
          </li>
          <!-- 如果存在下一页 -->
          <li *ngIf="pageInfo.hasNextPage" (click)="getClassKind(pageInfo.pageNum + 1, classKId, classKName, property, difficulty);">
            <a aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li *ngIf="pageInfo.hasNextPage" (click)="getClassKind(pageInfo.pages, classKId, classKName, property, difficulty);">
            <a>
              末页
            </a>
          </li>
          <!-- 如果不存在下一页 -->
          <li *ngIf="!pageInfo.hasNextPage" class="disabled">
            <a aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li *ngIf="!pageInfo.hasNextPage" class="disabled">
            <a>
              末页
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>