/* 不同数据类型的表格列宽 */
.idColumn{
    width: 100px;
}

.classColumn{
    width: 150px;
}

.nameColumn{
    width: 150px;
}

.timeColumn {
    width: 200px;
}

.numberColumn {
    width: 150px;
}

.textColumn {
    width: 300px;
}