/* 表单的label和输入框样式 */
.form-group label{
    width: 100px;
    margin-top: 10px;
}

.form-group input{
    width: 400px;
    padding-left: 20px;
    border: 1px  solid #a8a8a8;
}

.form-group select{
    width: 400px;
    padding-left: 20px;
    border: 1px  solid #a8a8a8;
}

.tag-label {
    margin-right: 30px;
}

.radio-label {
    margin-right: 40px;
}